html,
body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  /* background-color: rgba(0, 0, 0, 0.0); */
}

.top-nav-collapse {
  background-color: #ff416c;
}

@media only screen and (max-width: 990px) {
  .navbar {
    background-color: #ff416c;
  }
}

#intro {
  background-image: url(../assets/bg6.jpeg);
  background-size: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -86.5px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #ff416c !important;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.but {
  border-radius: 50px;
  border: 1px solid #ffffff;
  background-color: #ff416c;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.social-container {
  margin: 5px;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  /* display: flex; */
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
